body{
  text-align: center;
  margin-top: 100px;
}

#timer{
  font-family: "Lato";
  font-size: 100px;
  font-weight: 300;
}

button{
  width: 100px;
  height: 35px;
}

button:hover {
  cursor: pointer;
}
