<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding
='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f
; font-size: x-large;'>( ! )</span> Notice: Undefined index: operacija_name in C:\Users\nenad\Dropbox
\Developing\Website\projekti\svn-projekti\tuskan-family\require_files\job_part.php on line <i>37</i>
</th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align
='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left'
 bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0026</td><td bgcolor
='#eeeeec' align='right'>315952</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\Users\nenad\Dropbox
\Developing\Website\projekti\svn-projekti\tuskan-family\data.php' bgcolor='#eeeeec'>...\data.php<b>:
</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.0173</td><td bgcolor
='#eeeeec' align='right'>497048</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'C:\Users
\nenad\Dropbox\Developing\Website\projekti\svn-projekti\tuskan-family\require_files\job_part.php'</font
> )</td><td title='C:\Users\nenad\Dropbox\Developing\Website\projekti\svn-projekti\tuskan-family\data
.php' bgcolor='#eeeeec'>...\data.php<b>:</b>80</td></tr>
</table></font>
[{"komesa":"4","artikal":"43","name_artikal":"oidfgjw"},"UPDATE working_day_session  SET working_day_session_id
 = '196-101-1-43-4' , operacija_id = '1', artikal_id = '43', komesa = '4'  WHERE id = '196' AND radnik_id
 ='101' ",""]
