/* add font type */
// @import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

// add variables
/*  */$font-type: "Roboto",sans-serif;;

// loader
@import 'loader/loader';

// loader
@import 'working/greske';

// colors
@import '../../admin/template/sass/colors';
//page style
@import '../../admin/template/sass/page_styles';

@import 'working/working';

body{
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  background-color: #d6d6d6;
  padding: 10px 0;
  font-family: $font-type;
  font-weight: 500;
}

select{
  padding: 13p
}
/* login form style */
input, select{
  margin:10px 0;
  border: thin solid #e3e3e3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input,option{
  display: block;
  padding: 13px 17px;
}

input, option{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn{
  border-radius: 0;
}


// working percent coloring
.bg-danger{
  // background-color: red !important;
  // color: lighten(red, 0.4);
}
#uspesnost.bg-primary{
    // background-color: red !important;
    // color: lighten(green, 0.1);
}

// probaa
