/* add font type */
/*  */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001; }

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */ }

#loader-wrapper .loader-section.section-left {
  left: 0; }

#loader-wrapper .loader-section.section-right {
  right: 0; }

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out; }

#count_greska {
  height: auto;
  font-size: 50px;
  font-weight: 700;
  padding: 50px;
  margin-bottom: 50px; }

.page_headings {
  background-color: #fff;
  color: #000; }

.sub-header {
  display: block;
  margin-top: 10px;
  border-bottom: thin solid #eee;
  padding-bottom: 5px; }

.alert-white {
  background-color: #fff;
  color: #000; }

.alert-black {
  background-color: #000;
  color: #fff; }

.alert-grey {
  background-color: gray;
  color: #fff; }

.alert-lightgrey {
  background-color: #b3b3b3;
  color: #fff; }

.alert-blue {
  background-color: #0000ff;
  color: #fff; }

.alert-lightblue {
  background-color: #6666ff;
  color: #fff; }

.alert-green {
  background-color: #005A04;
  color: #fff; }

.alert-lightgreen {
  background-color: #00c009;
  color: #fff; }

.alert-orange {
  background-color: #ff7700;
  color: #fff; }

.alert-yellow {
  background-color: #fff600;
  color: #000; }

.alert-red {
  background-color: #FF0000;
  color: #fff; }

.alert-lightred {
  background-color: #ff6666;
  color: #fff; }

.full-width-btn {
  display: inline-block;
  padding: 20px 0px; }

.font-large {
  font-size: 40px !important; }

.user-card-info {
  min-height: 120px; }
  .user-card-info h6 {
    font-size: 12px;
    border-bottom: 1px solid #eee;
    line-height: 1.4em; }

.clock-style, .logout-btn {
  padding: 20px 10px;
  font-size: 24px; }

/* working page css */
span.info-span {
  width: 50%;
  display: inline-block; }

/* hint staff */
.hint-btn {
  height: 430px;
  text-align: center;
  padding: 50px 10px;
  background-color: #69c;
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently
     not supported by any browser */ }

.hint-btn:hover {
  background-color: #66D; }

/* rest usefuly staff */
.clear {
  float: none;
  clear: both; }

.hint-btn.disabled-hint {
  background-color: #c66 !important; }

.operation-hint-data-body {
  min-height: 180px;
  padding: 0 0 5px 0; }

.alert {
  margin-bottom: 5px; }

.menu_btn {
  padding: 40px 30px;
  min-width: 18% !important;
  margin: 1% 1%;
  display: inline-flex; }

body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  background-color: #d6d6d6;
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500; }

select {
  padding: 13p; }

/* login form style */
input, select {
  margin: 10px 0;
  border: thin solid #e3e3e3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input, option {
  display: block;
  padding: 13px 17px; }

input, option {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.btn {
  border-radius: 0; }

/*# sourceMappingURL=style.css.map */
