.container {
  margin-bottom: 100px; }

/*!
 * Start Bootstrap - SB Admin (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
/* Global Styles */
body {
  margin-top: 100px;
  background-color: #222; }

@media (min-width: 768px) {
  body {
    margin-top: 50px; } }
#wrapper {
  padding-left: 0; }

#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff; }

.huge {
  font-size: 50px;
  line-height: normal; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 225px; }

  #page-wrapper {
    padding: 10px; } }
/* Top Navigation */
.top-nav {
  padding: 0 15px; }

.top-nav > li {
  display: inline-block;
  float: left; }

.top-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999; }

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
  color: #fff;
  background-color: #000; }

.top-nav > .open > .dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.top-nav > .open > .dropdown-menu > li > a {
  white-space: normal; }

ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto; }

li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

li.message-preview > a {
  padding-top: 15px;
  padding-bottom: 15px; }

li.message-footer {
  margin: 5px 0; }

ul.alert-dropdown {
  width: 200px; }

/* Side Navigation */
@media (min-width: 768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px; }

  .side-nav > li > a {
    width: 225px; }

  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
    background-color: #000 !important; } }
.side-nav > li > ul {
  padding: 0; }

.side-nav > li > ul > li > a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999; }

.side-nav > li > ul > li > a:hover {
  color: #fff; }

/* Flot Chart Containers */
.flot-chart {
  display: block;
  height: 400px; }

.flot-chart-content {
  width: 100%;
  height: 100%; }

/* Custom Colored Panels */
.huge {
  font-size: 40px; }

.panel-green {
  border-color: #5cb85c; }

.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c; }

.panel-green > a {
  color: #5cb85c; }

.panel-green > a:hover {
  color: #3d8b3d; }

.panel-red {
  border-color: #d9534f; }

.panel-red > .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f; }

.panel-red > a {
  color: #d9534f; }

.panel-red > a:hover {
  color: #b52b27; }

.panel-yellow {
  border-color: #f0ad4e; }

.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e; }

.panel-yellow > a {
  color: #f0ad4e; }

.panel-yellow > a:hover {
  color: #df8a13; }

.dashboard-box {
  background-color: white;
  height: 100px;
  padding: 30px;
  border: #000 thin solid;
  margin: 10px 0; }

.dashboard-box:nth-child(odd) {
  background-color: #333;
  color: #fff; }

.input_padding, .remove_artikal_row {
  padding: 12px 16px; }

.remove_operaciju {
  cursor: pointer; }

.remove_operaciju:hover {
  padding: 10px;
  margin: -10px 0 0 -10px;
  background-color: #FF0000; }

.show-text {
  display: none; }

button.ui-datepicker-trigger:after {
  content: "Select Date"; }

button.ui-datepicker-trigger {
  width: 150px;
  height: 48px;
  margin-top: 10px;
  color: #fff;
  background-color: #1a1aff;
  border: none; }

.filter-container {
  display: none; }

select {
  height: 3.4em; }

.input-style-btn {
  padding: 13px 17px; }

.filter-box {
  display: block; }

.efikasnost {
  padding: 15px 5px;
  min-height: 130px; }

.efikasnost > * {
  padding: 10px 0; }

.page_headings {
  background-color: #fff;
  color: #000; }

.sub-header {
  display: block;
  margin-top: 10px;
  border-bottom: thin solid #eee;
  padding-bottom: 5px; }

.alert-white {
  background-color: #fff;
  color: #000; }

.alert-black {
  background-color: #000;
  color: #fff; }

.alert-grey {
  background-color: gray;
  color: #fff; }

.alert-lightgrey {
  background-color: #b3b3b3;
  color: #fff; }

.alert-blue {
  background-color: #0000ff;
  color: #fff; }

.alert-lightblue {
  background-color: #6666ff;
  color: #fff; }

.alert-green {
  background-color: #005A04;
  color: #fff; }

.alert-lightgreen {
  background-color: #00c009;
  color: #fff; }

.alert-orange {
  background-color: #ff7700;
  color: #fff; }

.alert-yellow {
  background-color: #fff600;
  color: #000; }

.alert-red {
  background-color: #FF0000;
  color: #fff; }

.alert-lightred {
  background-color: #ff6666;
  color: #fff; }

.full-width-btn {
  display: inline-block;
  padding: 20px 0px; }

.font-large {
  font-size: 40px !important; }

.onoffswitch {
  position: relative;
  width: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 20px; }

label.onoffswitch-label {
  height: 30px;
  margin: 5px; }

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s; }

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box; }

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #34A7C1;
  color: #FFFFFF; }

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right; }

.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 66px;
  border: 1px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 4px; }

.dropdown-box {
  display: block;
  position: relative; }

.dropdown-live-search-radnika {
  position: absolute;
  margin-top: 50px;
  width: 300px;
  min-height: auto;
  max-height: 200px;
  overflow-y: scroll;
  background-color: #e3e3e3;
  z-index: 1000;
  color: #000;
  display: none;
  text-aligh: left; }

.dropdown-live-search-radnika li.radnici_result_lista {
  text-align: left;
  color: #000;
  padding-left: 20px;
  cursor: pointer;
  background-color: lightblue; }

.dropdown-live-search-radnika li.radnici_result_lista:hover {
  background-color: #333;
  color: #fff; }

/* BTN style */
.wrap {
  margin: 10px 0; }

.wrap-left {
  margin-left: 10px; }

.wrap-right {
  margin-right: 10px; }

.wrap-top {
  margin-top: 10px; }

.wrap-bottom {
  margin-bottom: 10px; }

.wrap-10 {
  margin: 10px 10px; }

.alert-danger {
  background-color: #ff1a1a;
  color: #fff; }

.alert-success {
  background-color: #00c009;
  color: #fff; }

.clear {
  clear: both; }

.btn span.glyphicon {
  opacity: 0; }

.btn.active span.glyphicon {
  opacity: 1; }

label {
  height: 50px;
  margin: 5px; }

.color_options {
  margin-top: 20px;
  padding: 0; }

.size_options {
  margin-top: 20px;
  padding: 0; }

.size_options label {
  border: thin solid #333; }

h2 {
  margin-top: -15px; }

/*# sourceMappingURL=adminstyle.css.map */
