
// Analiza podataka
button.ui-datepicker-trigger:after{
  content: "Select Date";
}
button.ui-datepicker-trigger{
  width: 150px;
  height: 48px;
  margin-top: 10px;
  color: #fff;
  background-color: lighten($blue, 5%);
  border: none;
}

.filter-container{
  display: none;
}

select{
  height: 3.4em;
}
.input-style-btn{
  padding: 13px 17px;
}

.filter-box{
  display: block;
}
