
.input_padding{
  padding: 12px 16px;
}

.remove_artikal_row{
  @extend .input_padding;
  // @include border-radius(30px);
}


.remove_operaciju{
  cursor: pointer;
}
.remove_operaciju:hover{
  padding: 10px;
  margin: -10px 0 0 -10px;
  background-color: $red;
}

.show-text{
  display: none;
}
