
// colors

$red : #FF0000;
$lightred: lighten($red, 20%);
$darkred: darken($red, 50%);

$orange:#ff7700;

$yellow: #fff600;

$green : #005A04;
$lightgreen: lighten($green, 20%);
$darkgreen: darken($green, 20%);

$blue : #0000ff;
$lightblue: lighten($blue, 20%);
$darkblue: darken($blue, 20%);

$white : #fff;

$black: #000;
$grey: lighten($black, 50%);
$lightgrey: lighten($black, 70%);
