
// Dashboard
.dashboard-box{
  background-color: lighten($blue, 100);
  height: 100px;
  padding: 30px;
  border: $black thin solid;
  margin: 10px 0;
}
.dashboard-box:nth-child(odd){
  background-color: #333;
  color: $white;
}

.danasnje_komese table tr:hover{
	background-color: #e3e3e3;
	cursor: pointer;
}