.user-card-info{
  min-height: 120px;

  h6{
    font-size: 12px;
    border-bottom: 1px solid #eee;
    line-height: 1.4em;
  }
}

.clock-style,.logout-btn{
  padding: 20px 10px;
  font-size: 24px;
}

/* working page css */
span.info-span{
  width: 50%;
  display: inline-block;
}

/* hint staff */
.hint-btn{
  // width: 100%;
  height: 430px;
  text-align: center;
  padding: 50px 10px;
  background-color: #69c;
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
.hint-btn:hover{
  background-color: #66D;
}

/* rest usefuly staff */
.clear{
  float: none;
  clear: both;
}

// create disabled style for hint btn
.hint-btn.disabled-hint{
  background-color: #c66 !important;
}

.operation-hint-data-body{
  min-height: 180px;
  padding: 0 0 5px 0;
}

.alert{
  margin-bottom: 5px;
}

.menu_btn{
    padding: 40px 30px;
    min-width: 18% !important;
    margin: 1% 1%;
    display: inline-flex;
}
