.page_headings{
  background-color: $white;
  color: $black;
}

.sub-header{
  display: block;
  margin-top: 10px;
  border-bottom: thin solid #eee;
  padding-bottom: 5px;
}


// default


// BODY STYLES

.alert-white{
  background-color: $white;
  color: $black;
}

.alert-black{
  background-color: $black;
  color: $white;
}
.alert-grey{
  background-color: $grey;
  color: $white;
}

.alert-lightgrey{
  background-color: $lightgrey;
  color: $white;
}

.alert-blue{
  background-color: $blue;
  color: $white;
}

.alert-lightblue{
  background-color: $lightblue;
  color: $white
}

.alert-green{
  background-color: $green;
  color: $white;
}

.alert-lightgreen{
  background-color: $lightgreen;
  color: $white;
}

.alert-orange{
  background-color: $orange;
  color: $white;
}

.alert-yellow{
  background-color: $yellow;
  color: $black;
}

.alert-red{
  background-color: $red;
  color: $white;
}
.alert-lightred{
  background-color: $lightred;
  color: $white;
}

// BUTTONS

.full-width-btn{
  display: inline-block;
  padding: 20px 0px;
}


// FONT STYLES
.font-large{
  font-size: 40px !important;
}