

// MIXINS

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// MAIN
.container{
  margin-bottom: 100px;
}
// sb admin page
@import "sb_admin";

// colors value
@import "colors";

// DASHBOARD PAGE
@import "dashboard";

// ARTIKSL PAGE
@import "artikal";

// Analiza podataka
@import "analiza";

// Form
@import "form";

// Headings
@import "headings";

// Alerts and messaging styles
@import "alert_and_messaging";

// Alerts and messaging styles
@import "page_styles";

// Alerts and messaging styles
@import "form_styles";

/* BTN style */
.wrap{
  margin: 10px 0;
}

.wrap-left{
  margin-left: 10px;
}
.wrap-right{
  margin-right: 10px;
}
.wrap-top{
  margin-top: 10px;
}
.wrap-bottom{
  margin-bottom: 10px;
}


.wrap-10 {
  margin: 10px 10px;
}

.alert-danger{
  background-color: lighten($red, 5%);
  color: $white;
}

.alert-success{
  background-color: lighten($green, 20%);
  color: $white;
}

//
.clear{
  clear: both;
}



//
// select colors box
.btn span.glyphicon {
  opacity: 0;
}
.btn.active span.glyphicon {
  opacity: 1;
}
label{
  height:50px;
  margin: 5px;
}
.color_options{
    margin-top: 20px;
    padding: 0;
}
.size_options{
    margin-top: 20px;
    padding: 0;
}
.size_options label{
  border: thin solid #333;
}
h2{
  margin-top: -15px;
}
